mat-grid-tile{
  background-color: #cecece;
}
mat-grid-tile.check{
  background-color: #b594f1;
}

.inputSet{
  display: flex;
  justify-content:space-around;
}

mat-sidenav-container{
  height: 300px;
}

mat-icon{
  cursor: pointer;
}

mat-sidenav, mat-sidenav-content{
  padding: 16px;
}
mat-sidenav{
  background-color: #ff9925;
  width: 300px;
}

.navbar{
  justify-content: space-between;
}

.navbar .menu{
  margin-bottom: 40px;
}
.navbar .menu span {
  padding-left: 20px;
}

span.logo{
  margin-top: 20px;
}

.btnLkz{
    width: 80px;
    height: 40px;
    margin-left: 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.btnLkz:hover{
    background: rgb(112, 169, 255);
    color: white;
    border:2px solid #ff9925
}

.btnLkz:active{
    font-size: 26px;
    font-weight: 700;
    border:3px solid #ffffff
}

.accord{
    max-width: 400px;
    background-color: #cabeb1;
    border: 2px solid #ccc6bb;
}

button{
    margin-right: 15px;
}

.tabs {
    font-size: 0;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3 {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }
  .mat-icon{
    width: 40px;
    height: 40px;
  }

  span{
    font-size: 18px;
    margin-bottom: 55px;
  }
  .badgee{
    margin-bottom: 40px;
  }

  table {
    width: 100%;
  }