<hr>
<div class="accord">
  <mat-accordion >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            <img src="../../../assets/icons/menu_zem_torgi.svg">
          </div>
          <span >Panel Title</span>
        </mat-panel-title>
       
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-sub-menu></app-sub-menu>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            <img src="../../../assets/icons/menu_zem_torgi.svg">
          </div>
          <span >Panel Title</span>
        </mat-panel-title>
       
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-sub-menu></app-sub-menu>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            <img src="../../../assets/icons/menu_zem_torgi.svg">
          </div>
          <span >Panel Title</span>
        </mat-panel-title>
       
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-sub-menu></app-sub-menu>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<hr>
<ng-container *transloco="let t">
  <h1> {{ t("hello") }} </h1>
  <div class="card">
    <p>{{t("post")}}</p>
  </div>
  <hr>
  <button class="btnLkz" id="kz" (click)="setActiveLang('kz')">kz</button>
  <button class="btnLkz" id="ru" (click)="setActiveLang('ru')">ru</button>
</ng-container>
<br>
