.btnLkz {
    width: 80px;
    height: 40px;
    margin-left: 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.btnLkz:hover {
    background: rgb(112, 169, 255);
    color: white;
    border: 2px solid #ff9925
}

.btnLkz:active {
    font-size: 26px;
    font-weight: 700;
    border: 3px solid #ffffff
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.wrap{
    margin-top: 40px;
    padding-top: 40px;
    width: 500px;
    margin: 0 auto;
}
.wrap button{
    margin-bottom: 50px;
}
.box{
width: 250px;
height: 250px;
display: flex;
align-items: center;
justify-content: center;
color: white;

}