<div class="subMenuAccord">
<mat-accordion>
    <!-- 1 -->
    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="../../assets/icons/contest.svg"> menu 1
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="check()">
            
        </div>
    </mat-expansion-panel>

     <!-- 2 -->
     <mat-expansion-panel>
        
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="../../assets/icons/contest.svg">menu 2
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-sub-menu-layer></app-sub-menu-layer>
    </mat-expansion-panel>

     <!-- 3 -->
     <mat-expansion-panel>
        
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="../../assets/icons/contest.svg"> menu 3
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-sub-menu-layer></app-sub-menu-layer>
    </mat-expansion-panel>

     <!-- 4 -->
     <mat-expansion-panel>
        
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="../../assets/icons/contest.svg">menu 4
                
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-sub-menu-layer></app-sub-menu-layer>
    </mat-expansion-panel>
</mat-accordion>
</div>