<div class="container">
    <h2>список задач (HttpClient)</h2>

    <div class="card">
        <div class="form-control">
            <input type="text" placeholder="Название" [(ngModel)]="todoTitle" (keyup.enter)='addTodo()'>
        </div>
        <button class="btn" (click)="addTodo()">Добавить</button>
        <button class="btn" (click)="fetchTodos()">Загрузить</button>
    </div>

    <hr>

    <div *ngIf="!loading; else loadingBlock">
        <div *ngIf="todos.length; else noTodos">
            <div class="card" *ngFor="let todo of todos">
                <p>
                    <span class="todoId">{{todo.id}}</span>
                    <span [class.completed]="todo.completed">{{todo.title | titlecase}}</span>
                    <span>
                        <button class="btn btn-danger" (click)="removeTodo(todo.id!)" [class.completeremove]="todo.completed">
                            <span *ngIf='!todo.completed'>Удалить</span>
                            <span *ngIf='todo.completed'>&times;</span>
                            
                        </button>
                        <button class="btn" (click)='completeTodo(todo.id!)' [class.complete]="todo.completed">
                            <span *ngIf='!todo.completed'> Завершить</span>
                            <span *ngIf='todo.completed'>Вернуть</span>
                        </button>
                        <!--[disabled]="todo.completed"-->
                    </span>
                </p>
            </div>
        </div>
    </div>
    <ng-template #noTodos>
        нетэлементов
    </ng-template>
    <ng-template #loadingBlock>
        <p>loading...</p>
    </ng-template>
</div>