a {
    text-decoration: none;
    color: inherit;
}
.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-top: 10px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
}

.navbar ul li{
    margin-left: 35px;
    font-size: 25px;
    font-weight: 500;
}

.login{
    margin-left: 20px;
    padding-left: 20px;
}

.login .btn{
    margin-left: 10px;
}

.navbar .login{
    margin-left: 20px;
}
.name{
    margin-left: 25px;
}
.name span{
    margin-left: 5px;
    font-size: 20px;
    color: rgb(212, 81, 81);
    font-weight: 500;
}