
<nav class="navbar">
    
    <h1><a routerLink=""> Navigation</a></h1>
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Home</a></li>
        <li routerLinkActive="active"><a routerLink="about">About</a></li>
        <li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
        <li routerLinkActive="active"><a routerLink="http">Задачник</a></li>
    </ul>
    <div class="login">
        <button class="btn" (click)="auth.login(); modal = true" [disabled]="auth.isAuth">Login</button>
        <button class="btn" (click)="auth.logout()" [disabled]="!auth.isAuth">Logout</button>
        <app-modal title='Авторизация'  (close)="modal = false" *ngIf="modal"></app-modal>
    </div>
</nav>
<hr>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- <app-http2></app-http2> -->

